.header-invalid {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}
.header-updated {
    background: rgb(255, 152, 0, 0.3);
}
.recommended-row {
    border-left: 8px solid rgb(172,212,182, 0.8);
}
.available-row {
    border-left: 8px solid rgb(250,224,148, 0.8);
}
.low-ranked-row, .low_ranked-row {
    border-left: 8px solid rgb(235, 162, 150, 0.8);
}
.unmatched-row {
    border-left: 8px solid #bdbdbd;
}

.MuiDataGrid-panel .MuiDataGrid-filterFormValueInput .MuiChip-root {
    background-color: #e5e1e6 !important;
    color: #47464f !important;
}

.MuiDataGrid-panel .MuiDataGrid-filterFormValueInput .MuiChip-root .MuiChip-label {
    color: #47464f !important;
}

.MuiDataGrid-panel .MuiDataGrid-filterFormValueInput .MuiChip-root .MuiChip-deleteIcon {
    color: #76758b !important;
}
